#sha {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 22px 0 rgba(0, 0, 0, 0.19)
}
#img img{
    height: 230px;
    width: 230px;
    object-fit: cover;
}
body {
    background-image: url(https://d3ugyf2ht6aenh.cloudfront.net/stores/092/965/products/x14_009-2-tela-lino-natural-tienda-de-telas-online-trapitos-com-ar11-c9bd6a802d7969413115736152726708-1024-1024.jpg);
}